.homeNav {
  margin-top: 100px;;
  .buttonList {
    text-align: center;
    list-style: none;

    .pageButtons {
      font-size: 20px;
      height: 50px;
      width: 350px;
      margin: 5px;
    }
  }
}