/* You can add global styles to this file, and also import other style files */
.appPrimaryButton {
      padding: 5px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      background-color: #dd141d;
      color: white;

      &:hover {
        background-color:#c7121a;
      }
}